* {
  margin: 0;
}

.calculator{
  height: 350px;
  width: 300px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.output{
  position: absolute;
  height: 80px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  text-align: right;
}

.expr{
  padding: 30px 10px;
}
